# Please read docs/setup.md. Do not commit or share this file.

# OpenTofu Local State Encryption Passphrases
export TF_VAR_state_encryption_passphrase_baseline="<baseline state encryption passphrase>"
export TF_VAR_state_encryption_passphrase_staging="<staging state encryption passphrase>"
export TF_VAR_state_encryption_passphrase_prod="<production state encryption passphrase>"

# Ansible Vault Passwords
export TF_VAR_grayhaven_vault_password_staging="<staging Ansible Vault password>"
export TF_VAR_grayhaven_vault_password_prod="<production Ansible Vault password>"

# OpenTofu DigitalOcean API Token
export TF_VAR_do_token="<scoped DigitalOcean OpenTofu token>"

# Grayhaven Vault Deploy SSH Keypair
export TF_VAR_grayhaven_ansible_deploy_public_key="$(cat "$HOME/path/to/ansible-deploy.key.pub")"
export TF_VAR_grayhaven_ansible_deploy_private_key="$(cat "$HOME/path/to/ansible-deploy.key")"

# Grayhaven Vault Information
export TF_VAR_grayhaven_vault_repo_url="git@github.com:dean1012/grayhaven-vault.git"
export TF_VAR_grayhaven_vault_checkout_path="$HOME/path/to/grayhaven-vault"
